.preview {
  
  margin-bottom: 2em;
}

.preview__card {
  padding: 1em;
  height: 100%;
}

.preview__link {
  display: inline-block;
  font-size: 1.4em;
  margin-bottom: 1em;
}

.preview__image {
  margin-bottom: 2em;
  &-pic {
    display: block;
    max-width: 100%;
    margin: auto;
  }
}

.preview__descr {
  margin-bottom: 2em;
}
