.show-page__top {
  position: relative;
  padding: 0 3%;
}

.show-page__link {
  position: absolute;
  font-size: 1.2rem;
  left: 6%;
  top: 0;
  transition: .3s;
}

.show-page__title {
  margin-bottom: 0.6em;
}

.show-page__pic {
  margin-bottom: 2em;
}

.show-page__text {
  margin-bottom: 2em;
}